/* Body */
body {
    font-family: "JetBrains Mono", monospace;
    background-color: #1C1C1C;
    color: #e6e6e6;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
    letter-spacing: 0.02em;
}

body.light {
    background-color: #f5f5f5;
    color: #111111;
}

/* Layout */
.container {
    max-width: 825px;
    margin: auto;
}

header {
    margin-bottom: 1px;
}

.title {
    font-size: 28px;
    font-weight: bold;
    color: #E93694;
    margin-bottom: 10px;
}

.title::before {
    content: ">";
    margin-right: 15px;
}

/* Navigation */
.nav a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.nav a:hover {
    color: #ff87c7;
}

/* ASCII Buttons */
.ascii-btn {
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
    background: none;
    border: none;
    padding: 0;
    display: inline-block;
    cursor: pointer;
}

.ascii-btn.active {
    color: #E93694;
    font-weight: bold;
}

.ascii-btn:hover {
    color: #ff8fcb;
}

.ascii-btn.active:hover {
    color: #E93694;
}

.ascii-btn:focus {
    outline: none;
}

.ascii-btn:focus-visible {
    outline: 1px solid currentColor;
}

#theme-btn {
    display: inline-block;
    text-align: center;
    width: 1.5em;
}

/* Posts */
.post {
    background: #242424;
    border: 1px solid #444444;
    border-radius: 8px;
    opacity: 0;
    transform: translateY(5px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    padding: 25px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}

.post.show {
    opacity: 1;
    transform: translateY(0);
}

body.light .post {
    background: #ededed;
    border-color: #aaaaaa;
}

.post-dir {
    color: #888888;
    font-size: 15px;
    position: absolute;
    left: 25px;
    top: 20px;
}

.post-date {
    color: #888888;
    font-size: 15px;
    position: absolute;
    right: 25px;
    top: 20px;
}

.post-tip {
    cursor: help;
    color: #E93694;
}

body.light .post-dir {
    color: #555555;
}

body.light .post-date {
    color: #555555;
}

.post-title {
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.post-title::before {
    content: "#";
    color: #949494;
    margin-right: 10px;
}

.post-title::after {
    content: attr(data-after);
    color: #949494;
    margin-left: 15px;
}

body.light .post-title::before {
    color: #636363;
}

body.light .post-title::after {
    color: #636363;
}

/* Footer */
.footer {
    font-size: 12px;
    color: #888888;
    margin-top: 20px;
    text-align: center;
}

body.light .footer {
    border-color: #aaaaaa;
    color: #555555;
}

/* Text Selection */
::selection {
    background: #e93694;
    color: #000000;
}

body.light ::selection {
    background: #E93694;
    color: #ffffff;
}

/* Markdown */
.md {
    line-height: 1.5;
}

.md .line-break {
    display: block;
    margin: 0.55em 0;
}

.md .line-break-list {
    display: block;
    margin: 0.25em 0;
}

.md h1 {
    font-size: 22px;
}

.md h2 {
    font-size: 18px;
}

.md h3 {
    font-size: 16px;
}

.md h4 {
    font-size: 14px;
}

.md ul {
    padding-left: 20px;
}

.md li {
    margin-bottom: 4px;
}

.md li::marker {
    color: #949494;
}

.md img {
    max-width: 100%;
    display: block;
    margin: 10px 0;
}

.md :not(pre) > code {
    background: #181818;
    padding: 2px;
    border-radius: 3px;
}

.md code {
    background: #181818;
    padding: 2px;
    border-radius: 3px;
}

.md pre {
    background: #181818;
    border-radius: 6px;
    padding: 10px;
    overflow-x: auto;
    white-space: pre;
    word-wrap: normal;
    margin: 0;
}

.md pre code {
    background: none;
    padding: 0;
    border-radius: 0;
}

.md blockquote {
    background-color: rgba(233, 54, 148, 0.05);
    border-left: 3px solid #e93694;
    border-radius: 3px;
    padding: 15px 20px;
    margin: 15px 0;
}

body.light .md code {
    background: #dddddd;
}

body.light .md pre {
    background: #dddddd;
}

body.light .md pre code {
    background: none;
}

.md a {
    color: #E93694;
    text-decoration: none;
}

.md a:hover {
    text-decoration: underline;
}

/* Mobile */
@media (max-width: 600px) {
    .post-dir {
        top: 15px;
        left: 25px;
        right: 25px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .post-date {
        top: 40px;
        left: 25px;
        right: 25px;
        text-align: right;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .post-title {
        margin-top: 10px;
    }
}